<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
        name="log4net"
        type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="log4netConfigFile" value="MwsLog4net.xml" />
    <!-- MWS server 의 ip address.  "localhost" 등과 같이 쓰면 안됨.  반드시 "192.168.0.2" 등의 형태로 숫자로 된 ip address 쓸 것. 비워 놓으면 기본적으로 localhost 의 ip 로 설정됨. -->
    <!-- <add key="mwsServer" value="192.168.0.2"/> -->

    <!-- MWS server 에 접속 가능한 client 대역 설정. "0.0.0.0" 이면 무제한 -->
    <add key="mwsPeers" value="0.0.0.0" />
    <add key="mwsPort" value="50001" />
    <add key="dbServer" value="dualsoft.co.kr" />
    <add key="dbDatabase" value="kefico" />
    <add key="dbUser" value="securekwak" />
    <add key="dbPassword" value="kwak" />
    <add key="mwsTestListPathPrefix" value="C:\" />
    <add key="mwsFlashPathPrefix" value="C:/Flash" />
    
  </appSettings>

  <log4net>
    <appender name="FileLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logMwsService-%date{yyyyMMdd}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy.MM.dd HH:mm:ss.fff} [%thread] %-5level %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="= %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleLogger" />
    </root>

    <logger name="MwsServiceApp.MwsService">
      <level value="DEBUG"/>
      <appender-ref ref="FileLogger"/>
    </logger>
    <logger name="MwsServiceApp.SampleService">
      <level value="DEBUG"/>
      <appender-ref ref="FileLogger"/>
    </logger>
  </log4net>
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>