[mysqld]
datadir=/mnt/home2/mysql
socket=/mnt/home2/mysql/mysql.sock
# Should enalbe symbolic link
symbolic-links=1

event-scheduler = on
# federated		# federated engine 을 사용하려면 uncomment



# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

max_allowed_packet = 512M
max_heap_table_size = 64M		# default = 16M
tmp_table_size = 64M			# default = 16M
wait_timeout = 6000
innodb_file_per_table = 1
innodb_file_format = barracuda
innodb_buffer_pool_size = 12G
innodb_log_file_size=1G
#innodb_flush_method=O_DIRECT

# tokudb_cache_size = 8G


# for LOAD DATA and SELECT ... INTO OUTFILE
secure-file-priv = ""

#
# Query Cache Configuration
#            
query_cache_limit       = 1M
query_cache_size        = 100M
query_cache_type        = 1

#
# Logging
# mysql> show binary logs;
#
server-id		= 1
log-bin                 = /mnt/home2/mysql/mysql-bin.log
expire-logs-days        = 10
max_binlog_size         = 1G
max_binlog_files	= 20


[client]
socket=/mnt/home2/mysql/mysql.sock


[mysqldump]
max_allowed_packet = 512M


[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

