<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="dbServer" value="112.170.136.45"/>
    <add key="mwsServer" value="192.168.0.3"/>   <!-- MWS Service 가 실행되고 있는 실제 IP 입력-->
  </appSettings>
</configuration>